html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: url("assets/StarBackground.jpg");
	background-color: black;
	background-size: auto 100%;
	background-position: center;
	overflow: -moz-scrollbars-none;
}

#blocker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	pointer-events: none;
	opacity: 1;
	transition: 2s;
}

#alethiometer-holder {
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	position: fixed;
	transition-duration: 10ms;
	transition: opacity 2s;
}

#alethiometer {
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#zodiac-container {
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	position: fixed;
}

.zodiac_holder {
	position: absolute;
	width: 0;
	height: 0;
	transition: opacity 2s;
}

.zodiac-item {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#block {
	text-align: center;
	color: white;
	font-size: 75%;
	font-family: monospace;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10%;
	min-width: 400px;
	z-index: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	transition: opacity 2s;
}

#rules {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	color: black;
	background-color: white;
	font-size: 12pt;
	font-family: monospace;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	padding: 20px;
	opacity: 0;
	transition: opacity 1s;
	z-index: -1;
}

#rules-toggle {
	width: 50%;
	border: 5px solid white;
	border-radius: 10px;
	background-color: #00000000;
	color: white;
	font-family: monospace;
	padding: 10px;
}

#rules-toggle:hover {
	border: 5px solid white;
	border-radius: 10px;
	background-color: gray;
	color: white;
	font-family: monospace;
	padding: 10px;
}

#rules-toggle:active {
	border: 5px solid white;
	border-radius: 10px;
	background-color: white;
	color: white;
	font-family: monospace;
	padding: 10px;
}

#signup {
	width: 50%;
	border: 5px solid white;
	border-radius: 10px;
	background-color: #00000000;
	color: white;
	font-family: monospace;
	padding: 10px;
}

#signup:hover {
	border: 5px solid white;
	border-radius: 10px;
	background-color: gray;
	color: white;
	font-family: monospace;
	padding: 10px;
}

#signup:active {
	border: 5px solid white;
	border-radius: 10px;
	background-color: white;
	color: white;
	font-family: monospace;
	padding: 10px;
}

#close {
	border-radius: 5px;
	background-color: black;
	color: white;
	position: fixed;
	right: 10px;
	top: 10px;
	width: auto;
	aspect-ratio: 1;
	padding: 5px;
}

#close:hover {
	border-radius: 5px;
	background-color: gray;
	color: white;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 3%;
	aspect-ratio: 1;
	padding: 5px;
}

#close:active {
	border-radius: 5px;
	background-color: white;
	color: white;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 3%;
	aspect-ratio: 1;
	padding: 5px;
}

#countdown-wrapper {
	white-space: nowrap;
	overflow: hidden;
}

#codephrase-entry {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

#codephrase-entry-field {
	z-index: 10;
	color: white;
	background-color: black;
	height: 50px;
	text-align: center;
	border: 2px solid white;
	margin-bottom: 5px;
	transition: opacity 2s;
}

.standard-button {
	background-color: black;
	color: white;
	height: auto;
	border: 2px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.standard-button:hover {
	background-color: white;
	color: black;
	border: 2px solid white;
}

#codephrase-entry-button {
	transition: opacity 2s;
}

#code-entry {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -100;
	opacity: 0;
	transition: opacity 2s;
	background-color: #000000CC;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#constellation {
	max-width: 90%;
	max-height: 90%;
	position: relative;
}

#constellation-image {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.constellation-button {
	width: 0px;
	height: 0px;
	border: 7px darkslateblue solid;
	border-radius: 7px;
	position: absolute;
	left: 50%;
	top: 50%;
}

#constellation-button-1 {
	transform: translate(126px, -62px);
}

#constellation-button-2 {
	transform: translate(53px, 48px);
}

#constellation-button-3 {
	transform: translate(57.5px, -14.5px);
}

#constellation-button-4 {
	transform: translate(-6px, -81px);
}

#constellation-button-5 {
	transform: translate(1px, 54px);
}

#constellation-button-6 {
	transform: translate(-93px, -99px);
}

#constellation-button-7 {
	transform: translate(-91px, -47.5px);
}

#constellation-button-8 {
	transform: translate(-142px, 41px);
}

#constellation-submit {
	z-index: 10;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(55px, -140px);
	border-radius: 25px;
	background-color: white;
	color: black;
}

#constellation-submit:hover {
	background-color: black;
	color: white;
}
